<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.context.name" value="offertest"/>
    <property name="log.charset" value="UTF-8"/>
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%p][%c][%M][%L] %msg%n "/>

    <contextName>${log.context.name}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/${log.context.name}.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>


    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>./log/error%d{yyyyMMdd}.log</FileNamePattern>
            <MaxHistory>2</MaxHistory>
        </rollingPolicy>
    </appender>

    <logger name="error" additivity="false" level="INFO">
        <appender-ref ref="ERROR"/>
    </logger>


    <appender name="TRACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>./log/track%d{yyyyMMdd}.log</FileNamePattern>
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>


    </appender>
    <logger name="track" additivity="false" level="INFO">
        <appender-ref ref="TRACK"/>
    </logger>


    <appender name="DROPTRACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>./log/dtrack%d{yyyyMMdd}.log</FileNamePattern>
            <MaxHistory>15</MaxHistory>ls
        </rollingPolicy>


    </appender>
    <logger name="dtrack" additivity="false" level="INFO">
        <appender-ref ref="DROPTRACK"/>
    </logger>


    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.data.elasticsearch.client.WIRE" level="trace"/>
    <logger name="org.elasticsearch.client" level="ERROR"/>


    <root>
        <level value="WARN"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
